@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600,700&subset=devanagari,latin-ext');
	
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
*{font-family: 'Rajdhani','Nanum Gothic', sans-serif;}
.header{
    position: fixed; width: 100%; top:0;left:0;z-index: 2;transition: all 0.3s;
}
.header.on{
    background-color:rgba(255, 255, 255,0.4);
}
.gnb > ul{
    width: 1000px; margin: 0 auto;
}
.gnb > ul >li{
    width: 33.33%; height: 40px; line-height: 40px; font-size: 20px; color:white;
    text-align: center; font-weight: 600; cursor: pointer;position: relative;
}
.gnb > ul >li:after{
    content:""; display:block; position:absolute; bottom:0; left:0; 
    width:100%; height:100%; border-bottom:5px solid #253C59; transform:scaleX(0);
    transition:all 0.5s;
}
.gnb > ul >li:hover{
    color:#253C59;
}
.gnb > ul >li.on{
    color:#253C59;
}
.gnb > ul >li:hover:after{
    transform: scaleX(1);
}
.gnb > ul >li.on:after{
    transform: scaleX(1);
}
.container{
    background-color:#253C59;
}
.main{
    background-image: url(../img/main.jpg); background-repeat:no-repeat;
    background-attachment:fixed; background-position:center -400px; background-size:cover;
}
.main .inner{
    background-color:rgba(0, 0, 0, 0.38); height:820px;
}
.main .inner > h1{
    text-align: center; line-height: 820px; font-size: 80px; color:white;letter-spacing: -4px;
    font-weight: 600;
}
.main .inner > h1 span{
    display: block; font-weight:normal; font-size: 50px; color:#95B3BF; line-height:0px;
    margin-top: -350px; 
}
.works{
    width: 1000px; margin: 0 auto; color:white; padding: 150px 0;
}
.works > h1{
    text-align: center; font-size: 60px;font-weight: 600;
}
span.sub_title{
    display: block; font-weight: normal; font-size: 16px; color:#95B3BF;
}
.works > ul.list{
    display:flex; flex-wrap:wrap; justify-content:center; align-items:flex-start;
}
.works > ul.list > li{
    width: 400px; margin:50px;
    border:1px solid #95B3BF; box-shadow: 10px 10px 5px rgba(255, 255, 255, 0.2);
}
.works > ul.list > li > a{
    display: block; position: relative;
}
.works > ul.list > li > a > p{
    position: absolute; top:100px; left:0; width: 100%; height: 100%; text-align: center;
    background-color:rgba(37, 60, 89, 0.6); opacity: 0; transition:all 0.6s;padding-top: 50%;
}
.works > ul.list > li> a:hover p{
    opacity: 1;
}
.works > ul.list > li > a > p > img{
    position:absolute; top:40%; left:50%; width:150px; transform:translate(-50%, -50%);
}
.works > ul.list > li > a >img{
    width:100%;
}
.works > ul.list > li > a > h2{
    text-align: center; border-bottom: 1px solid white;
    width: 100%; height: 100px; padding-top: 20px; color:white;
}
.side_gnb{
    position: fixed; right: -100px; top: 50%; margin-top: -75px; width: 100px;
}
.side_gnb > li{
    height: 50px;line-height: 50px; font-size: 20px; color:white; text-align: center;
    cursor: pointer; background-color:#5A798C; border-radius: 20px 0 0 20px; transition: all 0.3s;
}
.side_gnb > li:hover{
    background-color:#fff; color:#5A798C;
}
.side_gnb > li.on{
    background-color:#fff; color:#5A798C;
}
.profile{
    background-image: url(../img/bottomBG.jpg); background-repeat: no-repeat;
    background-attachment: fixed; background-position:center center; background-size:cover;
    padding-top: 500px;
}
.pro_title{
    background-color:#fff;
}
.pro_title .inner{
    width: 1000px; margin:0 auto; padding:150px;
    position: relative; color:#253C59; text-align: center;
}
.pro_title .inner img{
    width:300px; position: absolute; top:-200px; left:50%; margin-left:-150px; border: 2px solid white; border-radius:50%;
}
.pro_title .inner > h1{
    font-size: 40px; padding-top: 100px;font-weight: 600;
}
.pro_title .inner > ul > li{
    font-size: 20px;
}
.pro_title .inner > a{
    display: block; width: 200px; height: 40px;margin: 50px auto;line-height: 40px;font-size: 14px;
    border:1px solid #253C59; color:#253C59;text-align: center;
}
.pro_title .inner > a:hover{
    background-color:#253C59; color:white;
}
.footer{
    background-color:#253C59;
}
.footer .inner{
    text-align: center; width: 1000px;height: 60px; line-height: 60px; margin: 0 auto; color:white
}
@media screen and (max-width: 1024px){
    .gnb > ul{
        width: 52%;
    }
    .main .inner{
        height:500px;
    }
    .main .inner > h1{
        line-height: 500px; font-size: 50px; letter-spacing: -2px;
    }
    .main .inner > h1 span{
        font-size: 30px;margin-top: -200px; 
    }
    .works{
        width: 80%;padding: 100px 0;
    }
    .works > h1{
        font-size: 40px;
    }
    span.sub_title{
        font-size: 14px; 
    }
    .works > ul.list > li{
        width: 44%; margin:3%;
    }
    .pro_title .inner{
        width: 80%; padding:50px;
    }
    .pro_title .inner img{
        width: 200px;top: -100px;margin-left: -100px;
    }
    .pro_title .inner > h1{
        font-size: 30px;
    }
    .footer{
        background-color:#253C59;
    }
    .footer .inner{
        width: 80%;
    }
}
@media screen and (max-width: 768px){
    .main, .profile{
        background-attachment: inherit;
    }
}
@media screen and (max-width: 640px){
    .gnb > ul{
        width: 100%;
    }
    .main{
        background-size: contain;background-position: top;
    }
    .main .inner{
        height:300px;
    }
    .main .inner > h1{
        line-height: 300px; 
    }
    .main .inner > h1 span{
        margin-top: -100px; 
    }
    .works{
        width: 90%;
    }
    .works > ul.list > li{
        width: 100%; margin:50px 0;
    }
    .works > ul.list > li > a > p{
        opacity: 1;
    }
    .profile{
        padding-top: 300px;background-size: contain;background-position: top;
    }
    .pro_title .inner{
        width: 80%; padding:50px 0;
    }
    .side_gnb{
        display: none;
    }
}