@charset "utf-8";

.tabbox { font-size:0; display:flex; justify-content:center; align-items:center;}
.tabbox li { width:50%; border-bottom:4px solid #fff; }
.tabbox li.active { border-color:#333; }
.tabbox li a { display:inline-block; width:100%; height:100%; height:3.75rem; line-height:3.75rem; text-align:center; color:#333; font-size:1.25rem; font-weight:400;}
.tabbox li.active a { }


.termsTxt p {
	margin: 0;
}

.etc__content {
	display: none;
	padding: 60px 34px;
	border: 1px solid #e1e1e1;
}

.etc__content.is-active {
	display: block;
}

@media only screen and (max-width: 1025px) {
	.etc__content {
		padding: 30px 24px;
		margin-bottom: 0;
	}
}

@media only screen and (max-width: 680px) {
	.etc__content {
		padding: 20px 16px;
	}
}

.etc__subject {
	color: #333;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.8;
	letter-spacing: -1px;
}

@media only screen and (max-width: 1025px) {
	.etc__subject {
		letter-spacing: 0;
	}
}

@media only screen and (max-width: 680px) {
	.etc__subject {
		font-size: 1.3rem;
	}
}

.etc__txt {
	margin: 0;
	font-size: 16px;
	line-height: 1.875;
	color: #666;
}

.etc__txt.type-another {
	margin-top: 5px;
}

@media only screen and (max-width: 680px) {
	.etc__txt {
		font-size: 1rem;
		line-height: 1.6;
	}
}

.etc__tit {
	margin: 30px 0 0 0;
	font-size: 16px;
	font-weight: 400;
}

.etc__tit.type-another {
	margin-top: 0;
	margin-bottom: 10px;
	font-weight: 500;
}

@media only screen and (max-width: 1025px) {
	.etc__tit.type-another + .etc__sub-tit {
		margin-top: 20px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__tit {
		margin-top: 20px;
		font-size: 1.25rem;
	}
}

.etc__box {
	margin-top: 40px;
	padding: 50px 100px;
	background-color: rgba(81, 92, 62, 0.3);
}

.etc__box:after {
	display: block;
	clear: both;
	content: '';
}

@media only screen and (max-width: 1025px) {
	.etc__box {
		padding: 40px 44px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__box {
		margin-top: 24px;
		padding: 25px 20px;
	}
}

.etc__box-double {
	float: left;
	width: 50%;
}

@media only screen and (max-width: 1025px) {
	.etc__box-double {
		float: none;
		width: 100%;
	}
	.etc__box-double + .etc__box-double {
		margin-top: 18px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__box-double + .etc__box-double {
		margin-top: 12px;
	}
}

.etc__box-list {
	margin: 0;
	padding: 0;
}

.etc__box-list:after {
	display: block;
	clear: both;
	content: '';
}

.etc__box-item {
	position: relative;
	padding-left: 24px;
	font-size: 16px;
	color: #333;
	list-style: none;
}

.etc__box-item + .etc__box-item {
	margin-top: 18px;
}

.etc__box-item:before {
	position: absolute;
	top: 0px;
	left: 0;
	content: '';
}

.etc__box-item.nth-1:before {
	content: '01.';
}

.etc__box-item.nth-2:before {
	content: '02.';
}

.etc__box-item.nth-3:before {
	content: '03.';
}

.etc__box-item.nth-4:before {
	content: '04.';
}

.etc__box-item.nth-5:before {
	content: '05.';
}

.etc__box-item.nth-6:before {
	content: '06.';
}

.etc__box-item.nth-7:before {
	content: '07.';
}

.etc__box-item.nth-8:before {
	content: '08.';
}

.etc__box-item.nth-9:before {
	content: '09.';
}

.etc__box-item.nth-10:before {
	content: '10.';
}

.etc__box-item.nth-11:before {
	content: '11.';
}

.etc__box-item.nth-12:before {
	content: '12.';
}

@media only screen and (max-width: 680px) {
	.etc__box-item {
		padding-left: 1.8rem;
		font-size: 1.125rem;
	}
	.etc__box-item + .etc__box-item {
		margin-top: 12px;
	}
}

.etc__box-link {
	color: inherit;
	text-decoration: none;
}

.etc__box-link:hover {
	color: inherit;
}

.etc__list {
	margin-top: 50px;
	padding: 0;
	font-size: 16px;
}

.etc__list.type-another {
	margin-top: 0;
}

.etc__list.type-terms {
	margin-top: 0;
}

.etc__list.type-terms .etc__item {
	padding: 60px 0;
}

.etc__list.type-terms .etc__item + .etc__item {
	margin-top: 0;
	border-top: 1px solid #e1e1e1;
}

.etc__list.type-terms .etc__item:last-child {
	padding-bottom: 0;
}

.etc__list.type-terms .etc__dd {
	padding-top: 0px;
}

@media only screen and (max-width: 1025px) {
	.etc__list.type-terms .etc__item {
		padding: 64px 0;
	}
	.etc__list.type-terms .etc__item:last-child {
		padding-bottom: 34px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__list.type-terms {
		margin-top: 0;
	}
	.etc__list.type-terms .etc__item {
		padding: 26px 0;
	}
	.etc__list.type-terms .etc__item:last-child {
		padding-bottom: 10px;
	}
	.etc__list.type-terms .etc__dt br {
		display: none;
	}
}

@media only screen and (max-width: 1025px) {
	.etc__list {
		margin-top: 40px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__list {
		margin-top: 35px;
		font-size: 1.3rem;
	}
}

.etc__item {
	list-style: none;
}

.etc__item + .etc__item {
	margin-top: 120px;
}

@media only screen and (max-width: 1025px) {
	.etc__item + .etc__item {
		margin-top: 80px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__item + .etc__item {
		margin-top: 40px;
	}
}

.etc__dl {
	margin: 0;
}

.etc__dt {
	float: left;
	width: 284px;
	margin: 0;
	font-weight: 500;
	line-height: 1.75;
}

@media only screen and (max-width: 1025px) {
	.etc__dt {
		width: 205px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__dt {
		float: none;
		width: 100%;
	}
}

.etc__dd {
	margin: 0;
	padding-top: 20px;
	padding-left: 300px;
	line-height: 1.8;
	color: #666;
}

@media only screen and (max-width: 1025px) {
	.etc__dd {
		padding-left: 212px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__dd {
		margin-top: 20px;
		padding: 0;
	}
}

.etc__num {
	font-weight: 400;
}

.etc__sub-tit {
	display: block;
	margin-top: 16px;
	font-weight: 500;
	color: #333;
}

.etc__sub-tit + .bullet__list {
	margin-top: 7px;
	padding: 0;
}

.etc__sub-tit.type-another {
	margin-top: 40px;
	font-weight: 400;
}

@media only screen and (max-width: 1025px) {
	.etc__sub-tit.type-another {
		margin-top: 36px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__sub-tit.type-another {
		margin-top: 18px;
	}
}

@media only screen and (max-width: 1025px) {
	.etc__sub-tit {
		margin-top: 36px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__sub-tit {
		margin-top: 18px;
	}
	.etc__sub-tit + .bullet__list {
		margin-top: 0px;
	}
}

.etc__point {
	display: block;
	margin-top: 18px;
	color: #12a080;
	font-weight: 600;
}

@media only screen and (max-width: 680px) {
	.etc__point {
		margin-top: 10px;
	}
}

.etc__para + .etc__para {
	margin-top: 60px;
}

.etc__para + .etc__para.type-another {
	margin-top: 30px;
}

@media only screen and (max-width: 1025px) {
	.etc__para + .etc__para {
		margin-top: 36px;
	}
}

@media only screen and (max-width: 680px) {
	.etc__para + .etc__para {
		margin-top: 30px;
	}
    .etc__para{font-size:1rem;}
}

.bullet__list {
	margin: 30px 0 0 0;
	padding: 0;
}

.bullet__list.type-another {
	margin-top: 10px;
	color: #333;
}

@media only screen and (max-width: 680px) {
	.bullet__list.type-another {
		margin-top: 5px;
	}
}

.bullet__list.type-circle {
	margin-top: 0;
}

.bullet__list.type-circle > .bullet__item {
	padding-left: 22px;
}

.bullet__list.type-circle > .bullet__item + .bullet__item {
	margin-top: 30px;
}

.bullet__list.type-circle > .bullet__item:before {
	top: 0;
}

.bullet__list.type-circle > .bullet__item.nth-1:before {
	content: '①';
}

.bullet__list.type-circle > .bullet__item.nth-2:before {
	content: '②';
}

.bullet__list.type-circle > .bullet__item.nth-3:before {
	content: '③';
}

@media only screen and (max-width: 680px) {
	.bullet__list.type-circle > .bullet__item {
		padding-left: 17px;
	}
    .bullet__item{font-size:1rem;}
}

.bullet__list.type-num {
	margin-left: -2px;
	margin-top: 4px;
	counter-reset: section;
}

.bullet__list.type-num .bullet__item {
	padding-left: 18px;
}

.bullet__list.type-num .bullet__item:before {
	top: 0;
	content: counter(section) ".";
	counter-increment: section;
}

@media only screen and (max-width: 680px) {
	.bullet__list.type-num .bullet__item {
		padding-left: 13px;
	}
}

.bullet__item {
	position: relative;
	padding-left: 10px;
	list-style: none;
}

.bullet__item:before {
	position: absolute;
	top: 1px;
	left: 0;
	content: '·';
}

.fake-table {
	margin-top: 28px;
	border: 1px solid #cccccc;
	box-sizing: border-box;
}

.fake-table:after {
	display: block;
	clear: both;
	content: '';
}

.fake-table__dl {
	float: left;
	width: 25%;
	height: 100%;
	margin: 0;
	text-align: center;
	box-sizing: border-box;
}

.fake-table__dl + .fake-table__dl {
	border-left: 1px solid #ccc;
}

.fake-table__dt {
	padding: 14px;
	border-bottom: 1px solid #ccc;
	font-weight: 300;
	box-sizing: border-box;
}

.fake-table__dd {
	display: table-cell;
	width: 1%;
	height: 84px;
	padding: 0 24px;
	vertical-align: middle;
	line-height: 1.875;
	word-break: keep-all;
	box-sizing: border-box;
}

@media only screen and (max-width: 1180px) {
	.fake-table {
		border-left: 0;
		border-right: 0;
	}
	.fake-table__dl {
		width: 50%;
		border-left: 1px solid #ccc;
	}
	.fake-table__dl + .fake-table__dl + .fake-table__dl {
		margin-top: 10px;
		border-top: 1px solid #ccc;
	}
	.fake-table__dl:nth-child(2n) {
		border-right: 1px solid #ccc;
	}
	.fake-table__dl:nth-child(1) {
		border-bottom: 1px solid #ccc;
	}
	.fake-table__dl:nth-child(2) {
		border-bottom: 1px solid #ccc;
	}
	.fake-table__dt {
		padding: 7px;
	}
	.fake-table__dd {
		padding: 0 10px;
	}
}

@media only screen and (max-width: 680px) {
	.fake-table__dd {
		height: 46px;
		padding: 2px;
		line-height: 1.6;
	}
}

@media only screen and (max-width: 340px) {
	.fake-table__dd {
		height: 66px;
	}
}