@charset "utf-8";

/* 내용관리 */
#ctt {position:relative; width:100%; max-width:1200px; margin:160px auto 2%; padding:2%; background:#fff; font-family: 'Noto Sans KR', sans-serif;}
#ctt.ctt_provision3 {margin:160px auto 6%;}
.ctt_admin {display:none !important;}
#ctt header h1 {position:relative; font-size:2rem; color:#53507b; font-weight:600; padding-bottom:1%; border-bottom:2px solid #53507b; margin-bottom:2%; font-family: 'Noto Sans KR', sans-serif;}
#ctt_con {padding:4rem 0; line-height:1.6;}
#ctt_con > p{font-size:12px; font-weight:400; font-family: 'Noto Sans KR', sans-serif !important;}
#ctt_con > p > span{background:#fff !important; font-size:12px; font-weight:400; font-family: 'Noto Sans KR', sans-serif !important;}
#ctt_con > span{font-size:12px; font-weight:400; font-family: 'Noto Sans KR', sans-serif !important;}
#ctt_con > div{font-size:12px; font-weight:400; font-family: 'Noto Sans KR', sans-serif !important;}
#ctt_con img{max-width:100%;height:auto}
.ctt_img {text-align:center}

/* 비급여항목안내 */
.c-7f7f7f{color:#7f7f7f;}
.fz_13{font-size: 0.813rem;}

.nonpay_cont_wrap{position:relative; margin-bottom:6%;}
.nonpay_top_title{position:relative; width:100%; text-align:center;}
.nonpay_top_text01{font-size:1rem; line-height:1.6; color:#53507b; font-weight:600; margin-bottom:20px;}

.table_free {width:100%; border-collapse:collapse;}
.table_free > tbody > tr > th {font-size:1.125rem; vertical-align: middle; border:1px solid #b9b9b9; padding:5px 12px 7px; color:#fff; background-color:#53507b }
.table_free > tbody > tr > td {font-size:1rem; vertical-align: middle; border:1px solid #b9b9b9; padding:5px 12px 7px; font-weight:500;}
.table_free > tbody > tr > td.td_title{font-size:1.125rem; color:#fff; background-color:#646096;}
.table_free > tbody > tr > td.td_title2{font-size:1.125rem; color:#fff; background-color:#363636;}
.table_free > tbody > tr > th > b{font-weight:600;}
.table_free > tbody > tr > td > b{font-weight:600;}
.text_underline{text-decoration: line-through;}
.c-53507b{color:#53507b;}
/* //비급여항목안내 */

@media (max-width:1280px){
    /* 내용관리 */
    #ctt { max-width:90%; margin:180px auto 2%;}
    #ctt.ctt_provision3 {margin:180px auto 8%;}
}
@media (max-width:800px){
    
    /* 비급여항목안내 */
    .nonpay_top_text01{font-size:1.25rem;}
    .nonpay_top_text02{font-size:1rem;}
    .nonpay_top_text03{font-size:1.25rem;}
    
    .table_free > tbody > tr > th {font-size:0.95rem;}
    .table_free > tbody > tr > td {font-size:0.8rem;}
    .table_free > tbody > tr > td.td_title{font-size:0.95rem;}
    /* //비급여항목안내 */
}
@media (max-width:480px){
    
    /* 내용관리 */
    #ctt {max-width: 88%; margin: 30% auto 10%; padding: 0;}
    #ctt.ctt_provision3 {margin:30% auto 10%;}
}
@media (max-width:434px){
    
    /* 내용관리 */
    #ctt {margin: 35% auto 12%;}
    #ctt.ctt_provision3 {margin:34% auto 12%;}
}
@media (max-width:376px){
    /* 내용관리 */
    #ctt {margin: 36% auto 14%;}
    #ctt.ctt_provision3 {margin:36% auto 14%;}
}