@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Marcellus&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sorts+Mill+Goudy&display=swap');

@font-face {
    font-family: "Monotype Corsiva"; 
    src: url("https://db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.eot"); 
    src: url("https://db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.eot?#iefix") format("embedded-opentype"), 
        url("https://db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.woff2") format("woff2"), 
        url("https://db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.woff") format("woff"), 
        url("https://db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.ttf") format("truetype"), 
        url("https://db.onlinewebfonts.com/t/d85e6ab19860a0a1cc2c3d7a3eb7f98c.svg#Monotype Corsiva") format("svg"); 
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 400;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), 
        url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 700;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'), 
        url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype')
}

@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    font-weight: 300;
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
    src: url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'), 
        url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), 
        url('https://cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}


/* Fonts */
.nanummyeongjo *,.nanummyeongjo {
  font-family: 'Noto Serif KR', serif;
	-webkit-font-smoothing: antialiased;
    letter-spacing: -0.02em;
}
.marcellus *,.marcellus {
  font-family: 'Marcellus','Noto Sans KR', sans-serif;
}
.sortsmillgoudy *,.sortsmillgoudy {
  font-family: 'Sorts Mill Goudy', sans-serif;
}
.notosans *,.notosans {
  font-family: 'Noto Sans KR', sans-serif;
}
.monotypecorsiva *,.monotypecorsiva {
  font-family: "Monotype Corsiva", sans-serif;
}
.nanumbarungothic *,.nanumbarungothic {
    font-family: 'NanumBarunGothic', sans-serif;
}



/* Common */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
html, body{
	font:300 16px/1.3 'Noto Sans KR', sans-serif;
	color: #000;
    overflow-x: hidden !important;
}
body.open{width:100%; height:100%; overflow: hidden;}
body *{box-sizing: border-box; word-break: keep-all;}
a:hover, a:link, a:visited, a:active {text-decoration: none; color: inherit;}
hr{border:0; margin:0; width:100%; height:1px; background: #fff;}
button{font-family: inherit;}
address {font-style: normal;}

/*
input{
  ios대응<!-- 주석해야됌 -->
  appearance: none;
  -webkit-appearance: none;
  -webkit-border-radius: 0;
}
*/
select{
  /*ios대응*/
  -webkit-appearance: none;
  -moz-appearance: none; 
  appearance: none;

  /*화살표 배경 넣기*/
/*  background: url('../img/select-down-arrow.svg') no-repeat 93% 50% rgba(255, 255, 255, 0); background-size:12px;화살표 select박스 오른쪽 중앙 배치,배경 흰색*/
}
select::-ms-expand{ 
  display:none; /* 화살표 없애기 for IE10, 11*/
}
a { -webkit-tap-highlight-color:transparent;}
* {-webkit-tap-highlight-color:transparent;}
img {max-width: 100%; vertical-align: top;}

/* width */
::-webkit-scrollbar {
	width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f0f0f0;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #012662;
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-ms-border-radius: 10px;
	-o-border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #0040a8;
}

.container {padding: 0 65px;}

.dp_ib {display: inline-block;}
.dp_none {display: none;}

.p_r{position:relative;}


/* skip */
#skip a {position: absolute; top: 0; left: -9999px; z-index: 1000;}
#skip a:focus, #skip a:active {display: block; top: 0; left: 0;  width: 100%; padding: 10px 0; background: #345243; color: #fff; text-align: center;}

/* hide text */
.blind {font-size: 0; line-height: 0; width: 1px; height: 1px; line-height: 1px; text-align: -9999px; overflow: hidden; position: absolute; top: 0; left: -9999px;}
.ir_text{display: block; width: 100%; height: 100%; text-indent: -9999em;}

/* font-size */   
.h1{font-size:2.813rem; line-height: 1.4;}
.h2{font-size:2.5rem; line-height: 1.4;}
.h3{font-size:2.25rem; line-height: 1.4;}
.h4{font-size:1.875rem; line-height: 1.4;}
.h5{font-size:1.563rem; line-height: 1.4;}
.h6{font-size:1.5rem; line-height: 1.4;}

.fz_14{font-size: 0.875rem;}
.fz_15{font-size: 0.938rem;}
.fz_16{font-size: 1rem; line-height: 1.6;}
.fz_17{font-size: 1.063rem; line-height: 1.6;}
.fz_18{font-size: 1.125rem; line-height: 1.6;}
.fz_19{font-size: 1.188rem; line-height: 1.6;}
.fz_20{font-size: 1.25rem; line-height: 1.6;}
.fz_21{font-size: 1.313rem; line-height: 1.6;}
.fz_22{font-size: 1.375rem; line-height: 1.6;}
.fz_23{font-size: 1.438rem; line-height: 1.6;}
.fz_24{font-size: 1.5rem; line-height: 1.6;}
.fz_25{font-size: 1.563rem; line-height: 1.6;}
.fz_26{font-size: 1.625rem; line-height: 1.6;}
.fz_27{font-size: 1.688rem; line-height: 1.6;}
.fz_28{font-size: 1.75rem; line-height: 1.6;}
.fz_29{font-size: 1.813rem; line-height: 1.6;}
.fz_30{font-size: 1.875rem; line-height: 1.6;}
.fz_31{font-size: 1.938rem; line-height: 1.6;}
.fz_32{font-size: 2rem; line-height: 1.6;}
.fz_33{font-size: 2.063rem; line-height: 1.6;}
.fz_34{font-size: 2.125rem; line-height: 1.6;}
.fz_35{font-size: 2.188rem; line-height: 1.6;}
.fz_36{font-size: 2.25rem; line-height: 1.6;}
.fz_37{font-size: 2.313rem; line-height: 1.6;}
.fz_38{font-size: 2.375rem; line-height: 1.6;}
.fz_39{font-size: 2.438rem; line-height: 1.6;}
.fz_40{font-size: 2.5rem; line-height: 1.6;}
.fz_42{font-size: 2.625rem; line-height: 1.6;}
.fz_45{font-size: 2.813rem; line-height: 1.6;}
.fz_48{font-size: 3rem; line-height: 1.6;}
.fz_50{font-size: 3.125rem; line-height: 1.4;}
.fz_55{font-size: 3.438rem; line-height: 1.4;}
.fz_70{font-size: 4.375rem; line-height: 1.4;}
.fz_75{font-size: 4.688rem; line-height: 1.4;}
.fz_80{font-size: 5rem; line-height: 1.4;}
.fz_85{font-size: 5.313rem; line-height: 1.4;}
.fz_90{font-size: 5.625rem; line-height: 1.4;}
.fz_95{font-size: 5.938rem; line-height: 1.4;}
.fz_100{font-size: 6.25rem; line-height: 1.4;}



/* font style */
.ta_c{text-align: center;}
.ta_l{text-align: left;}
.ta_r{text-align: right;}

.light{font-weight: 300;}
.normal{font-weight: 400;}
.medium{font-weight: 500;}
.bold{font-weight: 700;}

.c-w{color: #fff;}
.c-b {color: #000;}
.c-gray {color: #767676;}
.c-gray2 {color: #363636;}
.c-blue {color: #101443;}
.c-blue2 {color: #181d61;}
.c-blue3 {color: #012662;}
.c-blue-t{color:#003876;}
.c-beige-t{color:#fddeb8;}
.c-y{color:#d9d0bf;}

.lh_1{line-height: 1;}
.lh_11{line-height: 1.1;}
.lh_12{line-height: 1.2;}
.lh_13{line-height: 1.3;}
.lh_14{line-height: 1.4;}
.lh_15{line-height: 1.5;}
.lh_16{line-height: 1.6;}
.lh_18{line-height: 1.8;}
.lh_2{line-height: 2;}

.ls_2{letter-spacing:-0.02em;}
.ls_3{letter-spacing:-0.03em;}
.ls_4{letter-spacing:-0.04em;}

/* margin-bottom */
.m_5{margin-bottom: 5px;}
.m_10{margin-bottom: 10px;}
.m_20{margin-bottom: 20px;}
.m_30{margin-bottom: 30px;}
.m_40{margin-bottom: 40px;}
.m_50{margin-bottom: 50px;}
.m_60{margin-bottom: 60px;}
.m_80{margin-bottom: 80px;}
.m_100{margin-bottom: 100px;}
.m_120{margin-bottom: 120px;}
.m_160{margin-bottom: 160px;}
.m_200{margin-bottom: 200px;}

/* margin-left */
.ml_10{margin-left: 10px;}
.ml_20{margin-left: 20px;}
.ml_30{margin-left: 30px;}
.ml_40{margin-left: 40px;}

/* padding */
.pd_60{padding: 60px 0;}
.pd_80{padding: 80px 0;}
.pd_100{padding: 100px 0;}
.pd_120{padding: 120px 0;}
.pd_160{padding: 160px 0;}
.pd_200{padding: 200px 0;}

/* padding-top */
.pt_5{padding-top: 5px;}
.pt_10{padding-top: 10px;}
.pt_40{padding-top: 40px;}
.pt_60{padding-top: 60px;}
.pt_80{padding-top: 80px;}
.pt_100{padding-top: 100px;}
.pt_160{padding-top: 160px;}
.pt_200{padding-top: 200px;}
.pt_210{padding-top: 210px;}
.pt_230{padding-top: 230px;}
.pt_250{padding-top: 250px;}

.m_auto{
    margin-left: auto;
    margin-right: auto;
}
.mx300{max-width: 300px;}
.mx400{max-width: 400px;}
.mx500{max-width: 500px;}
.mx520{max-width: 520px;}
.mx540{max-width: 540px;}
.mx550{max-width: 550px;}
.mx570{max-width: 570px;}

/* flex-box */
.flex_row{display: flex; }
.flex_row.fw{flex-wrap:wrap; }
.flex_row.al_fs{display: flex; align-items: flex-start;}
.flex_row.center{display: flex; align-items: center;}
.flex_row.jc_center{justify-content: center;}
.flex_row.jc_fs{justify-content: flex-start;}
.flex_row.jc_fe{justify-content: flex-end;}
.flex_row.sb{justify-content:space-between;}
.flex_row.sa{justify-content:space-around;}
.flex_row.se{justify-content:space-evenly;}
.flex_row.fd_c{flex-direction:column;}

.column_half{width: 50%;}
.column_third{width: 33.3333%;}
.column_third_30{width: 30%;}
.column_quarter{width: 25%;}
.column_fifth{width: 20%;}

.container-md{width: 100%; max-width: 1440px; margin-left: auto; margin-right: auto; padding:0 40px; position: relative;}
.container-sm{width: 100%; max-width: 1400px; margin-left: auto; margin-right: auto; padding:0 40px; position: relative;}
.container-1200{width: 100%; max-width: 1200px; margin-left: auto; margin-right: auto; padding:0; position: relative;}
.container-xs{width: 100%; max-width: 1100px; margin-left: auto; margin-right: auto; padding:0 40px; position: relative;}

.pc_cont{display:block; opacity:1; visibility:visible;}
.m_cont{display:none; opacity:0; visibility:hidden;}

.pc_cont_640{display:block; opacity:1; visibility:visible;}
.m_cont_640{display:none; opacity:0; visibility:hidden;}

.pc_cont_480{display:block; opacity:1; visibility:visible;}
.m_cont_480{display:none; opacity:0; visibility:hidden;}

.pc_cont_434{display:block; opacity:1; visibility:visible;}
.m_cont_434{display:none; opacity:0; visibility:hidden;}

.pc_cont_376{display:block; opacity:1; visibility:visible;}
.m_cont_376{display:none; opacity:0; visibility:hidden;}



/* smooth-scroll */
.smooth-scroll{position:relative; overflow:hidden;}


/* header */
.main-header {position:fixed; top:0; left:0; width: 100%; height:auto; z-index:15;}

.ht-inner {width:100%; margin-left: auto; margin-right: auto; padding:1.5% 4% 1.2%; box-shadow:none; background:#fff; display: flex; justify-content: space-between; align-items: center; }
.ht-inner.sub-ht-inner {padding:0.8% 4% 1%; background:#fff;}
.main-header.tnb-open .ht-inner{padding:0.8% 4% 1%; background:#fff; transition: 0.3s ease-in-out;}
.ht-inner.scrolled{padding:0.8% 4% 1%; background:#fff; box-shadow:0 6px 6px -4px rgba(0, 0, 0, 0.2); transition: 0.3s ease-in-out;}
.ht-inner__left, .ht-inner__right {width:50%; height:100%; display: flex; align-items: center;}
.ht-inner__center{width:0%; height:100%; display: flex; align-items: center;}
.ht-inner__right{justify-content: flex-end;}
.ht-inner__center{justify-content: center;}
.ht-inner__left .icon_cont{margin-left:3%;}
.logo{width: 20rem; transition: 0.3s ease-in-out;}
.main-header.tnb-open .logo{width: 20rem; padding:0.5% 0 0;}
.main-header.tnb-open .header_icon{padding:0.5% 0 0;}
.ht-inner.scrolled .logo{width: 20rem; padding:0.5% 0 0;}
.ht-inner.scrolled .header_icon{padding:0.5% 0 0;}
.ht-inner.sub-ht-inner .logo{width: 20rem; padding:0.5% 0 0;}
.ht-inner.sub-ht-inner .header_icon{padding:0.5% 0 0;}
body.open .logo{width: 20rem; padding:1% 0 0 2%;}
body.open .header_icon{display:none;}
body.open .ht-inner{box-shadow:none; background:none;}
body.open .ht-inner.scrolled{box-shadow:none; background:none;}

.sub_header_menu{position:relative; width:100%;}
.sub_header_menu_li{position:relative; letter-spacing:0.06em;}
.sub_header_menu_li > a{position:relative; display:block; color:#fff;}
.ht-inner.sub-ht-inner .sub_header_menu_li > a{color:#000;}
body.open .sub_header_menu{display:none;}
.ht-inner.scrolled .sub_header_menu_li > a{color:#000;}
.main-header.tnb-open .sub_header_menu_li > a{color:#000;}
.sub_header_menu_li > a::after{
    content:''; position:absolute; bottom:0; left:0; width:100%; border-bottom:1px solid #000; 
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.8s cubic-bezier(1, 0, 0, 1);
}
body.open .main-header.tnb-open .sub_header_menu_li > a{color:#000;}
.main-header.change_color .sub_header_menu_li > a::after{
    border-bottom:1px solid #000; 
}
.main-header.change_color_whith .sub_header_menu_li > a::after{
    border-bottom:1px solid #000; 
}
body.open .main-header .sub_header_menu_li > a::after{
    border-bottom:1px solid #000; 
}
body.open .main-header.change_color .sub_header_menu_li > a::after{
    border-bottom:1px solid #000; 
}
body.open .main-header.change_color_whith  .sub_header_menu_li > a::after{
    border-bottom:1px solid #000; 
}
.sub_header_menu_li > a:hover::after{
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}
.sub-gnb-menu-depth2{position: absolute; top:100%; padding:30px 0 20px 20px; background:#fff; box-shadow:0 6px 6px -4px rgba(0, 0, 0, 0.2); opacity:0; visibility: hidden; text-align:left;}
.sub_header_menu_li1_1:hover .sub-gnb-menu-depth2_1{width:157px; left: 50%; opacity:1; visibility: visible; background:#fff; transform:translate(-50%);}
.sub_header_menu_li1_2:hover .sub-gnb-menu-depth2_2{width:150px; left: 48%; opacity:1; visibility: visible; background:#fff; transform:translate(-50%);}
.sub_header_menu_li1_3:hover .sub-gnb-menu-depth2_3{width:162px; left: 48%; opacity:1; visibility: visible; background:#fff; transform:translate(-50%);}
.sub_header_menu_li1_4:hover .sub-gnb-menu-depth2_4{width:154px; left: 48%; opacity:1; visibility: visible; background:#fff; transform:translate(-50%);}
.sub_header_menu_li1_5:hover .sub-gnb-menu-depth2_5{width:110px; left: 48%; opacity:1; visibility: visible; background:#fff; transform:translate(-50%);}
.main-header.scrolled.tnb-open .sub-gnb-menu-depth2{top:100%;}
.sub-gnb-menu-depth2 > li > a{font-size: 0.9rem; letter-spacing:-0.01em; font-weight: 300; color:#595959; padding:12px 0 4px; border-bottom:1px solid #fff; display: inline-block;}
.sub-gnb-menu-depth2 > li > a:hover{color:#012662; font-weight: 400; border-bottom:1px solid #012662;}




/* hamburger */
.hamburger{
    position:relative; width:40px; height:40px; overflow:hidden; margin-left:20px;
    background:none; cursor: pointer; box-sizing:border-box; z-index:20;
}
.hamburger_wrap{position:relative; width:100%; height:100%;}
.hamburger_box{position:relative; width:100%; height:100%;}
.hamburger_line_3d{position:relative; width:100%; height:100%; display:flex; flex-wrap:wrap; justify-content:space-between; align-items: center;}
.hamburger_line_3d_close{position:relative; width:100%; height:100%; display:flex; flex-wrap:wrap; justify-content:space-between; align-items: center; opacity:0;}
.hamburger .line{
    width:8px; height:8px; margin:0 4px; background:#012662; border-radius:100%;
    transition:background 0.7s ease-in-out;
    -webkit-transition:background 0.7s ease-in-out;
    -moz-transition:background 0.7s ease-in-out;
    -ms-transition:background 0.7s ease-in-out;
    -o-transition:background 0.7s ease-in-out;
}
.hamburger .line_close{
    width:38px; height:2px; background:#012662; border-radius:10px;
    transition:background 0.7s ease-in-out;
    -webkit-transition:background 0.7s ease-in-out;
    -moz-transition:background 0.7s ease-in-out;
    -ms-transition:background 0.7s ease-in-out;
    -o-transition:background 0.7s ease-in-out;
}
.ht-inner.sub-ht-inner .hamburger .line{
    background:#012662;
}
.ht-inner.sub-ht-inner .hamburger .line_close{
    background:#012662;
}
.ht-inner.scrolled .hamburger .line{background:#012662;}
.ht-inner.scrolled .hamburger .line_close{background:#012662;}
.hamburger.tnb-open .line{background:#012662;}
.hamburger.tnb-open .line_close{background:#012662;}
.hamburger.change_color .line{background:#012662;}
.hamburger.change_color .line_close{background:#012662;}
.hamburger.change_color.change_color_whith .line{background:#012662;}
.hamburger.change_color.change_color_whith .line_close{background:#012662;}
.hamburger.open .line{background:#012662;}
.hamburger.open .line_close{ background:#012662;}
.hamburger.change_color_whith.open .line{background:#012662;}
.hamburger.change_color_whith.open .line_close{ background:#012662;}

.line_close1{
    transform:translateY(10px) rotate(45deg);
    -webkit-transform:translateY(10px) rotate(45deg);
    -moz-transform:translateY(10px) rotate(45deg);
    -ms-transform:translateY(10px) rotate(45deg);
    -o-transform:translateY(10px) rotate(45deg);
}
.line_close2{
    transform:translateY(-10px) rotate(-45deg);
    -webkit-transform:translateY(-10px) rotate(-45deg);
    -moz-transform:translateY(-10px) rotate(-45deg);
    -ms-transform:translateY(-10px) rotate(-45deg);
    -o-transform:translateY(-10px) rotate(-45deg);
}

.hamburger .hamburger_line_3d{
    opacity:1; 
    transform:translateY(0px); 
    -webkit-transform:translateY(0px); 
    -moz-transform:translateY(0px); 
    -ms-transform:translateY(0px); 
    -o-transform:translateY(0px); 
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}
.hamburger .hamburger_line_3d_close{
    opacity:0; 
    transform:translateY(0px); 
    -webkit-transform:translateY(0px); 
    -moz-transform:translateY(0px); 
    -ms-transform:translateY(0px); 
    -o-transform:translateY(0px); 
    transition: 0.5s 0.15s ease-in-out;
    -webkit-transition: 0.5s 0.15s ease-in-out;
    -moz-transition: 0.5s 0.15s ease-in-out;
    -ms-transition: 0.5s 0.15s ease-in-out;
    -o-transition: 0.5s 0.15s ease-in-out;
}
.hamburger.open .hamburger_line_3d{
    opacity:0; 
    transform:translateY(-40px); 
    -webkit-transform:translateY(-40px);  
    -moz-transform:translateY(-40px);  
    -ms-transform:translateY(-40px);  
    -o-transform:translateY(-40px); 
    transition: 0.5s 0.15s ease-in-out;
    -webkit-transition: 0.5s 0.15s ease-in-out;
    -moz-transition: 0.5s 0.15s ease-in-out;
    -ms-transition: 0.5s 0.15s ease-in-out;
    -o-transition: 0.5s 0.15s ease-in-out;
}
.hamburger.open .hamburger_line_3d_close{
    opacity:1; 
    transform:translateY(-40px);
    -webkit-transform:translateY(-40px);  
    -moz-transform:translateY(-40px);  
    -ms-transform:translateY(-40px);  
    -o-transform:translateY(-40px); 
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}



/* gnb */
.gnb-outer{position: fixed !important; top:0; left:0; width: 100vw; height: 100vh; z-index:12; opacity:1; visibility: hidden; transition: opacity .1s cubic-bezier(0.23, 1, 0.320, 1);}
.gnb-outer.open{opacity: 1; visibility: visible;}

.gnb-inner{width: 100%; height: 100%; display: flex;}
.gnb-inner::-webkit-scrollbar {width: 5px;}
.gnb-inner::-webkit-scrollbar-thumb {background-color: #012662; border-radius: 10px;}
.gnb-inner::-webkit-scrollbar-track {background-color: rgba(100,100,100,0.5);}

.gnb-inner__all{position: relative; transform: translateY(-100%); opacity:1;}
.gnb-inner__all {width:100%; height:100%; padding:8rem 5% 0; background: #faf9f9; transition:all 1.4s 0.6s ease;}
.gnb-inner__all::before{content:''; position:absolute; top:0%; left:0%; width:100%; height:100%; background: url(../img/bg_logo.png) 94% 85%/25% no-repeat; opacity:0.7;}
.gnb-outer.open .gnb-inner__all{opacity:1; transform: translateY(0%); transition:all 1.4s 0.2s ease;}

.gnb-logo{position:absolute; top:60px; left:80px; width:9%; padding:1% 0; text-indent: -9999px;}

.gnb-menu-list{position:relative; width: 90%; margin: 3% auto 2% 7%; border-bottom:3px solid #eeefef; display:flex; justify-content:center; align-items: flex-start;}
.gnb-menu-list-m{display:none; width:100%;}

.gnb-menu-depth1{position: relative; margin-bottom:3%; overflow: hidden; display:flex; flex-wrap:wrap; justify-content:flex-start; align-items: flex-start; opacity:1;}
.gnb-menu-depth1 > .gnb-menu-img-text{width:100%; margin-bottom:30px; display:flex; flex-wrap: wrap; justify-content:flex-start; align-items: center; overflow:hidden;}
.gnb-menu-depth1 > .gnb-menu-img-text > a {display: block; opacity:0; transform: translateY(150%); text-align:left; transition:transform 0.8s ease, opacity 0.8s ease;}
.gnb-menu-depth1 > .gnb-menu-img-text > a > p{position:relative; width:100%; text-align:left; color: #000;}

.gnb-outer.open .gnb-menu-list > li:nth-child(1) > .gnb-menu-img-text > a{opacity:1; transform: translateY(0%); transition:transform 1.2s 0.4s ease;}
.gnb-outer.open .gnb-menu-list > li:nth-child(2) > .gnb-menu-img-text > a{opacity:1; transform: translateY(0%); transition:transform 1.2s 0.7s ease;}
.gnb-outer.open .gnb-menu-list > li:nth-child(3) > .gnb-menu-img-text > a{opacity:1; transform: translateY(0%); transition:transform 1.2s 1s ease;}
.gnb-outer.open .gnb-menu-list > li:nth-child(4) > .gnb-menu-img-text > a{opacity:1; transform: translateY(0%); transition:transform 1.2s 1.3s ease;}
.gnb-outer.open .gnb-menu-list > li:nth-child(5) > .gnb-menu-img-text > a{opacity:1; transform: translateY(0%); transition:transform 1.2s 1.6s ease;}

.gnb-menu-depth2{text-align:left; overflow:hidden;}
.gnb-menu-depth2 > li {position:relative; padding:12px 0; overflow:hidden; }
.gnb-menu-depth2 > li > a {position:relative; display:inline-block; font-size: 1rem; line-height:1.2; font-weight:300; color:#504b4b; box-sizing:border-box; opacity:0; transform: translateY(-170%); transition:transform 0.8s ease, opacity 0.8s ease;}
.gnb-outer.open .gnb-menu-depth2.gnb-menu-depth2-1 > li > a {opacity:1; transform: translateY(0%); transition:transform 1.4s 1.5s ease;}
.gnb-outer.open .gnb-menu-depth2.gnb-menu-depth2-2 > li > a {opacity:1; transform: translateY(0%); transition:transform 1.4s 1.8s ease;}
.gnb-outer.open .gnb-menu-depth2.gnb-menu-depth2-3 > li > a {opacity:1; transform: translateY(0%); transition:transform 1.4s 2.1s ease;}
.gnb-outer.open .gnb-menu-depth2.gnb-menu-depth2-4 > li > a {opacity:1; transform: translateY(0%); transition:transform 1.4s 2.4s ease;}
.gnb-outer.open .gnb-menu-depth2.gnb-menu-depth2-5 > li > a {opacity:1; transform: translateY(0%); transition:transform 1.4s 2.7s ease;}
.gnb-menu-depth2 > li:hover > a{color:#000; font-weight:400;}
.gnb-menu-depth2 > li > a > span::after{
    content:''; position:absolute; bottom:-5px; left:0; width:100%; border-bottom:2px solid #000; 
    -webkit-transform-origin: right top;
    -ms-transform-origin: right top;
    transform-origin: right top;
    -webkit-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
    transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
}
.gnb-menu-depth2 > li:hover > a > span::after{
    -webkit-transform-origin: left top;
    -ms-transform-origin: left top;
    transform-origin: left top;
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    transform: scale(1, 1)
}

.gnb_info_wrap{position:relative; width:65%; padding:2% 0 0; margin:0 auto; color:#736b69;}
.gnb_info_box{position:relative; width:60%;}
.gnb_info_kakao{position:relative; width:30%;}
.gnb_info_kakao > a{position:relative; display:block; width:158px; height:44px;}
.gnb_kakao_btn{position:relative; width:100%; height:100%; background: url(../img/gnb_kakao_btn.png) 50% 50%/cover no-repeat;}
.dp-td.fz_14{font-size:0.8rem; line-height:2;}
.gnb_info .dp-td.fz_14{font-size:0.8rem; line-height:1.6;}

/* login_menu */
.login_wrap{display:none; position:relative; width: 100%;}
body.open .login_wrap{display:block;}
.login_menu{position: relative; width: 100%; margin: 0 0 0 auto;}
.login_menu_item{display:inline-block; padding:0 6%;}


/* quick_menu */
.quick_wrap{position: fixed; bottom:4%; right:0%; width:58px; height:275px; z-index:2; transition:bottom .3s; -webkit-transition:bottom .3s; -moz-transition:bottom .3s; -ms-transition:bottom .3s; -o-transition:bottom .3s; overflow:hidden;}
.quick_menu_wrap{position:relative; width:100%;}
.quick_menu{
    display: flex; flex-wrap:wrap; justify-content:center; align-items:flex-start;
}

.quick_icon{
	display: block;
	width: 58px;
	height: 55px;
	background-color: #435b53;
	background-position: 50% 50%;
	background-size: 100%;
	background-repeat: no-repeat;
    overflow:hidden;
}
.quick_icon.q_never{background-image: url(../img/never_icon.jpg);}
.quick_icon.q_kakaoplus{background-image: url(../img/kakaoplus_icon_on.jpg);}
.quick_icon.q_blog{background-image: url(../img/blog_icon.jpg);}
.quick_icon.q_map{background-image: url(../img/map_icon.jpg);}
.topbtn .quick_icon.q_btn{background-image: url(../img/downbtn.jpg);}
.quick_icon:hover.q_never{background-image: url(../img/never_icon_on.jpg);}
.quick_icon:hover.q_kakaoplus{background-image: url(../img/kakaoplus_icon_on.jpg);}
.quick_icon:hover.q_blog{background-image: url(../img/blog_icon_on.jpg);}
.quick_icon:hover.q_map{background-image: url(../img/map_icon_on.jpg);}
.topbtn.on .quick_icon.q_btn{background-image: url(../img/topbtn.jpg);}



/* side_nav */
.side_nav{position:fixed; top:50%; left:4%; width:8px; opacity:0; visibility:hidden; z-index:10;}
.side_nav.on{opacity:1; visibility:visible;}
.side_nav_ul{position:relative; width:100%;}
.side_nav_li{width:100%; height:8px; margin:10px 0; border-radius:100%; background:#e3e3e3;}
.side_nav_li.active{background:#1f2c5c;}



/* footer */
.footer{position:relative; width:100%; padding:0 !important; background:#101443;}
.footer_info_links_wrap{position:relative; width:100%; border-bottom:1px solid rgba(255, 255, 255, 0.2);}
.footer_info_links{display:flex; justify-content:flex-start; align-items:center; padding:1.5% 0 1% 4%;}
.footer_info_links > a{margin:0 10px;}
.ft_info{width:50%; display:flex; flex-wrap:wrap; justify-content:flex-start; align-items:center; padding:1% 0 0.5% 4%;}
.ft_info > li{margin:0 10px 6px;}
.footer_bottom{color:#adadad; font-size:0.7rem; padding:0.5% 0 1.5% 4%; margin:0 10px;}